<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.impotentbartender">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddRatingActivity"></activity>
        <activity android:name=".RatersActivity" />
        <activity android:name=".SuggestActivity" />
        <activity android:name=".CocktailInfoActivity" />
        <activity android:name=".PossibleActivity" />
        <activity android:name=".AAAAAAAAAAAAAAAAAAAAAA" />
        <activity android:name=".JsonListActivity" />
        <activity android:name=".EditJsonActivity" />
        <activity android:name=".UpdateActivity" />
        <activity android:name=".OwnedActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>